@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: antiquewhite;
}

.home-container {
    min-height: 20vh;
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 30px;
    margin-left: 60px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.5s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.text-container {
    min-height: 80vh;
}

.content{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

.section-title {
    position: relative;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #2f4e37;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.gras{
    font-weight: 700;
    color: #2f4e37;
}

.footer {
    margin-bottom: 5px;
    margin-left: 10px;
    color: black;
}

body::-webkit-scrollbar {
    width: 11px; 
}
  
body::-webkit-scrollbar-track {
    background: white; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #2f4e37; 
    border-radius: 5px; 
}

.burger {
    display: none;
}

.here {
    display: flex;
    list-style: none;
}

.here li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.here a {
    font-size: 18px;
    font-weight: 500;
    opacity: 60%;
    text-decoration: wavy;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.here a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.here a:hover {
    transform: translateY(-100%);
}

@media (max-width: 768px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .section-title {
        position: relative;
        font-family: "Abril Fatface", cursive;
        font-size: 45px;
        font-weight: 100;
        margin-left: -50px;
        margin-top: 58%;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
        bottom 0.4s,
        background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
        top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 0;
        top: -50vh;
        background-color: #2f4e37;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 23px;
    }

	.logo {
        width: 100px;
        top: 20%;
    }

    .main-title,
    .header,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .content{
        text-align: start;
    }

	.footer{
		margin-left: -15px; 
        margin-top: 50px;
	}
	
}