@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    background: url(../Images/naioBG.jpg);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 30px;
    margin-left: 60px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.5s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.main-title {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: white;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
    text-decoration: none;
}

.text-container {
    min-height: 80vh;
    background: white;
}

.content{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

.section-title {
    position: relative;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #2f4e37;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.points{
    margin-left: 30px;
}

.CE{
    width: 700px;
}

.logo-tableau{
    width: 30%;
    height: 30%;
    margin-left: 150px;
    margin-top: 50px;
}

.tab{
    object-fit: contain;
    margin-left: -50px;
}

.tableau-chiffres{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.products-title-box{
    display: flex;
}

.clique{
    margin-left: 73%;
    font-size: 15px;
    color: black;
}

.char{
    margin-left: 200px;
    width: 40%;
    height: 40%;
}

.char2{
    margin-left: 270px;
}

.robots-box{
    flex-direction: row;
    display: flex;
}

.robot{
    margin-left: 8%;
}

.robot-name{
    margin-left: 8%;
}

#oz{
    width: 20%;
    height: 20%;
}

#dino{
    width: 25%;
    height: 25%;
}

#ted{
    width: 20%;
    height: 20%;
}

.description{
    margin-left: 8%;
    font-weight: 700;
    color: #2f4e37;
}

.char:active{
   transform: scale(1.5);
}

.robot:active{
    transform: scale(1.5);

}

.gras{
    font-weight: 700;
    color: #2f4e37;
}

.footer {
    margin-bottom: 5px;
    margin-left: 10px;
    color: black;
}

body::-webkit-scrollbar {
    width: 11px; 
}
  
body::-webkit-scrollbar-track {
    background: white; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #2f4e37; 
    border-radius: 5px; 
}

.burger {
    display: none;
}

.here {
    display: flex;
    list-style: none;
}

.here li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.here a {
    font-size: 18px;
    font-weight: 500;
    opacity: 60%;
    text-decoration: wavy;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.here a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.here a:hover {
    transform: translateY(-100%);
}

@media (max-width: 768px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .section-title {
        position: relative;
        font-family: "Abril Fatface", cursive;
        font-size: 45px;
        font-weight: 100;
        margin-left: -50px;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
        bottom 0.4s,
        background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
        top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 0;
        top: -50vh;
        background-color: #2f4e37;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 23px;
    }

	.logo {
        width: 100px;
        top: 20%;
    }

    .main-title,
    .header,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 50px;
        line-height: 50px;
    }

    .content{
        text-align: start;
    }

    .CE{
        width: 270px;
    }

    .logo-tableau{
        width: 0%;
        height: 0%;
        margin-left: 10px;
    }

    .tableau-chiffres{
        flex-direction: column;
        margin-bottom: -50px;
        margin-left: 20px;
    }

    .clique{
        margin-left: -50%;
        font-size: 5px;
        color: white;
    }
    
    .char{
        margin-left: 40px;
        width: 50%;
        height: 50%;
    }
    
    .char2{
        margin-left: 50px;
    }

    .robot{
        margin-left: -8%;
    }
    
    .robot-name{
        margin-left: -8%;
    }

    #oz{
        width: 30%;
        height: 30%;
    }
    
    #dino{
        width: 35%;
        height: 35%;
    }
    
    #ted{
        width: 30%;
        height: 30%;
    }

    .char:active{
        transform: scale(1);
    }
     
    .robot:active{
        transform: scale(1);
    }

	.footer{
		margin-left: -15px; 
        margin-top: 50px;
	}
	
}