body {
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    color: #ffffff;
    background: #ffffff url("Images/greenBG.jpeg") no-repeat top center fixed;
    background-size: cover;
}

#Title{
    font-size: 5vw;
    font-size: 12.5vh;
    text-align: center;
    color: #37b449;
    margin-top: -7.5%;
    margin-left: auto;
    margin-right: auto;
}

#Logo{
    width: 22.5vh;
    height: 15vh;
    margin-left: 2.5%;
    margin-top: 1%;
}

#Nav{
    border: 3px solid white;
    border-left: none;
    border-right: none;
}

.menu {
    display: flex;                      /* Transformation en flexbox */
    padding:0;                          /* Suppression des marges internes */    
    justify-content: space-around;      /* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 150px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #37b449;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 2px solid #fff;       /* Ajout d'une bordure */
    border-radius: 8px;           /* Arrondis des bordures */
    font-size: 15px;
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #37b449 ;
    border-color: #37b449 ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #126630;
    color: #ffffff;
    border-color: #ffffff;
}

#logo{
    object-fit: contain;
    max-width: 100%;
}