@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    background: url(../Images/BG.jpg);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 30px;
    margin-left: 60px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: white;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
}

.footer {
    margin-top: -2%;
    margin-left: 10px;
    color: white;
}

.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
}

input[type=checkbox]{
	display: none;
} 

.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
    margin-left: 235px;
	margin-top: -40px;
    color: white;
}

@media (max-width: 768px) {

	.menu { 
		display:none;
		position: absolute;
		right: 20px;
		left: 0;
		text-align: right;
	}

	.nav-links li {
		margin: 8px;
		margin-left: 60px;
		margin-bottom: 35px;
		overflow: hidden;
	}

	input[type=checkbox]:checked ~ .menu{
		display: block;
	}
	.hamburger {
		display: block;
	}

	.logo {
        width: 100px;
		margin-top: -10px;
    }

    .landing,
    .header,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 40px;
        line-height: 50px;
    }

	.footer{
		margin-top: -30px;
		margin-left: -15px;
	}
	
}





