@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    background: url(../Images/PresBG.jpg);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 40px;
    margin-left: 60px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: white;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
    text-decoration: none;
}

.big-title a:hover{
    color: #2f4e37
    ;
}

.orga-container {
    min-height: 80vh;
    background: white;
    padding: 0 100px;
}

.section-title {
    position: relative;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #2f4e37;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.grid-orga {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.orga1 {
    background: url(../Images/LogoNaio.jpg);
    background-size: cover;
}

.orga2 {
    background: url(../Images/LogoAgreen.jpg);
    background-size: contain;
}

.orga-box::before {
    content: "En savoir plus";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFFDF;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
}

.orga-box:hover::before {
    left: 0;
}

.orga-bio {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #FFFFFFDF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.orga-name {
    font-weight: 500;
    font-size: 30px;
}

.orga-container {
    padding: 0 100px;
    min-height: 150vh;
    margin-top: 50px;
}

.orga-plants {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.orga-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: background 0.4s;
}

.no-grid {
    height: 500px;
    flex: 1;
    min-width: 350px;
}   

.footer {
    margin-top: -2%;
    margin-left: 10px;
    color: black;
}

body::-webkit-scrollbar {
    width: 11px; 
}
  
body::-webkit-scrollbar-track {
    background: white; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #2f4e37; 
    border-radius: 5px; 
}
